// COLORS
$color-primary: #f83600;
$color-secondary: #f9d423;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
// $color-black-light: #202124;
$color-black-light: #1a1a1a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #F0F0ED;
$color-grey-dark-2: #eeeeee;
$color-grey-dark-3: #bebebe;
$color-grey-dark-4: #999;
$color-grey-dark-5: #333;

$color-form-login: #274046ad;
$color-form-login-1: #27404677;
$color-form-login-2: #2740465d;

$color-white-bg: #E4E5E6;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;