
.popup__none {
    display: none
}

.popup__status {
    @include posCenter;
    border-radius: 5rem;
    

    &__shape {
        width: 45rem;
        height: auto;
        background-color: $color-grey-dark-2;
        border-radius: 2rem;
    }

    &__title {
        text-align: center;
        padding-top: 2.5rem;
        font-size: 2rem;
        letter-spacing: 1px;
        margin: 0rem 4rem;
    }

    &__id {
        display: none;
    }

    &__img {
        display: none;
    }

    &__score {
        display: none;
    }

    &__currentlyStatus {
        margin-top: 3rem;

        &-par {
            font-size: 1.5rem;
            text-align: center;
            font-weight: 500;
            letter-spacing: 1px;

            &:first-child {
                margin-bottom: .5rem;
            }

            &:last-child {
                font-size: 1.8rem;
                text-transform: uppercase;
            }
        }
    }

    &__center {
        text-align: center;
        margin-top: 2rem;
        justify-content: center;
        display: flex;
        gap: 4rem;
    }

    &__control {
        border: none;
        outline: none;
        text-align: center;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        font-size: 1.7rem;
        padding: .5rem;
    }

    &__msgErr {
        text-align: center;
        font-size: 1.4rem;
        color: #b02a37;
        margin-top: 2rem;
        font-weight: 500;
        letter-spacing: 1px;
        display: none;
    }

    &__btn {
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        margin-bottom: 3rem;
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        font-size: 1.8rem;
        color: $color-grey-light-1;
        cursor: pointer;
        letter-spacing: 1px;


        &-accept {
            background-color: #0d6efd;
            transition: all .4s;

            &:hover {
                background-color: #0b5ed7
            }
        }

        &-cancel {
            background-color: #dc3545;

            &:hover {
                background-color: #b02a37
            }
        }
    }
}

button:disabled,
button[disabled]{
    background-color: $color-grey-dark-4;
    cursor: auto;

    &:hover {
        background-color: $color-grey-dark-4;
    }
}